{% load static %}
{% load hitcount_tags %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'salom.css' %}">
      <link rel="icon" href="{% static 'ccc.png' %}" type="image/gif"/>
    <title>Motivation</title>
</head>
<body>
<style>
    footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    color: #3c97bf;
    text-decoration: none;
}
</style>
<nav style="background: black" class="navbar navbar-expand-lg navbar-dark    bg-black">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'index' %}">MOTIV</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
          <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'sevimli' %}">Favourites</a>
                </li>
          <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'status_add' %}">Status Add</a>
                </li><li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'users_status' %}">Users Status</a>
                </li>

          {% if user.count %}

          {% else %}
          <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'my_status' %}">My Status</a>
                </li>
          {% endif %}
          <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'logodut' %}">Logout</a>
                </li>

           <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>


          <ul class="dropdown-menu  bg-dark" aria-labelledby="navbarDropdown">
{% for i in category %}
            <li><a class="dropdown-item" style="color: white" href="{% url 'category_filter' i.id %}">{{ i.name }}</a></li>

{% endfor %}

          </ul>

        </li>
      </ul>
     <form class="d-flex" role="search" method="post" action="{% url 'search' %}">
                {% csrf_token %}
        <input class="form-control me-2" style="background: black;color: white" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<div class="alert bg-danger fade show w-25 float-end position-absolute" role="alert">
    <div class="float-end ">{{ message }}</div>
    <button type="button" class="btn-close float-start" data-bs-dismiss="alert"
            aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}

{% if messages %}
{% for message in messages %}
{% if message.tags == 'success' %}
<div class="alert bg-success fade show w-25 float-end position-absolute" role="alert">
    <div class="float-end ">{{ message }}</div>
    <button type="button" class="btn-close float-start" data-bs-dismiss="alert"
            aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}

{% if messages %}
{% for message in messages %}
{% if message.tags == 'warning' %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert"
            aria-label="Close"></button>
</div>
{% endif %}
{% endfor %}
{% endif %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<div class="alert alert-danger alert-dismissible fade show container mt-4" role="alert">
   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
  <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
  <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
</svg>   <strong>Info!</strong> We have a limit on the of statuses a user can post, that is, you cannot post more than 1 status
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<h1 class="text-center text-white mt-4" style="font-family: cursive">Status Add</h1>
<div class="p-5">
    <form action="" class=" text-white" method="post">
        {% csrf_token %}
        <textarea name="text" cols="30" rows="10" class="form-control p-4" placeholder="Status text"></textarea>

    <button class="btn btn-primary mt-3" type="submit">Submit</button>
        </form>
</div>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
    <div>
        <footer>
            <p>
                Created with by
                <a target="_blank" href="https://asilbek-yuldashev.uz">Asilbek Yuldashev</a>
            </p>
        </footer>
    </div>
</div>
    <script src="{% static 'main.js' %}"></script>
	<script src="https://100dayscss.com/codepen/js/jquery.min.js"></script>
    <script src="https://codepen.io/fracturedNight/pen/exgzZg.js"></script>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</html>